body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(0, 110, 255);
}
#container {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
#header button {
  font-size: 40px;
  padding: 4px;
  color: hsl(0, 0%, 100%);
  font-family: "Times New Roman", Times, serif;
  background-color: transparent;
  border: none;
}
.options {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  padding: 12px;
  border-top: 1px solid rgb(255, 255, 255);
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  display: none;
}
#darkmode img {
  width: 20px;
}
.msgbox {
  background-color: rgba(245, 255, 255, 0.892);
  height: 77vh;
  max-width: 100%;
  overflow: auto;
  text-align: start;
}
.msgbox-dark {
  background-color: rgba(0, 17, 17, 0.933);
  height: 77vh;
  max-width: 100%;
  overflow: auto;
  text-align: start;
}
#form {
  position: relative;
  bottom: 10px;
  width: 100%;
  margin-top: 12px;
  padding-top: 3px;
}
#input {
  height: 38px;
  border-radius: 15px;
  padding-left: 15px;
  color: #1cb85d;
  border-color: #002582;
  width: 250px;
  font-size: 16px;
}
#input:focus {
  outline: none;
}
#send {
  height: 43px;
  font-size: 20px;
  background-color: rgb(130, 226, 255);
  color: white;
  border: none;
  border-radius: 10px;
  display: none;
}
#welcome {
  background-color: rgb(182, 255, 245);
  color: rgba(15, 0, 116, 0.932);
  width: 100%;
  font-size: 20px;
  text-align: center;
  border-radius: 30px 30px 2px 2px;
}
.msgblock {
  padding: 5px 20px 5px 20px;
  margin: 0px 20px 10px 20px;
  border-radius: 15px 80px 80px 80px;
  float: left;
  clear: both;
  color: rgb(255, 255, 255);
  max-width: 70%;
}
.msgblock:nth-child(1) {
  margin-top: 20px;
}
.send-images {
  max-width: 68%;
  object-fit: contain;
}
.send-video {
  padding: 5px 20px 5px 20px;
  margin: 0px 20px 10px 20px;
  border-radius: 15px;
  float: left;
  clear: both;
  max-width: 68%;
  object-fit: contain;
}
.send-audio{
  height: 50px;
  margin: 0px 20px 10px 20px;
  font-size: 30px;
  float: left;
  clear: both;
  width: 70%;
  object-fit: contain;
}
.sendfile{
  text-decoration: none;
  border-radius: 80px;
}
.unsupported{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  border-radius: 80px;
}
#file {
  display: none;
}
#clip {
  width: 30px;
  font-size: 20px;
  background-color: rgb(171, 235, 255);
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: -13px;
  padding: 5px;
}
